<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Anna's own CSS-->
    <style>
        header {
            text-align: center;
            z-index: 999;
            background-image: url(static/img/anna+board+title2.jpg)
        }
        .header-title {
            color: purple;
        }
        .topnavbar-link {
            color: white;
        }
        .topnavbar-link.active {
            color: purple!important;
        }
        .fixed-btn {
          width: 10rem;
          height: 2.3rem;
        }
        #anna-content {
            position: relative;
            left: 10rem;
            overflow: scroll;
        }
        div.filler {
            height: 15vh;
        }
        div.IRBased, div.ColorBased, div.Morphology, div.Fluorescent {
            height: 85vh;
        }
        img.ir-image {
            height: 65vh;
        }
        #left-navbar {
            top: 7rem;
            background-color: #17a2b8;
            color: purple;
        }
        .left-navlink-main {
            background-color: #17a2b8;
            color: purple;
        }
        .left-navlink {
            background-color: rgb(77, 216, 216);
            color: purple;
        }
    </style>

    <title>Anna Controller</title>
  </head>
  <body>
    <header class="sticky-top">
        <h1 class="text-center header-title">
            Anna's Smart ROV Detection System
        </h1>
        <div class="nav nav-tabs nav-fill sticky-top" id="topnavbar">
            <li class="nav-item">
                <a class="nav-link topnavbar-link active" href="#ir-filler">Infrared</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topnavbar-link" href="#color-filler">Color Detection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topnavbar-link" href="#morphology-filler">Morphology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topnavbar-link" href="#others-filler">Others</a>
            </li>
        </div>
    </header>
    <div class="" style="overflow:hidden">
        <div class="container-fluit nav flex-column position-fixed float-left" id="left-navbar">
            <li class="nav-item">
              <a class="nav-link active left-navlink-main" href="#">Infrared</a>
              <div class="list-group left-subnav">
                <a class="list-group-item left-navlink" href="#">Visible</a>
                <a class="list-group-item left-navlink" href="#">850nm</a>
                <a class="list-group-item left-navlink" href="#">950nm</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link left-navlink-main active" href="#">Color Detection</a>
              <ul class="list-group left-subnav">
                <a class="list-group-item left-navlink" href="#">Orange</a>
                <a class="list-group-item left-navlink" href="#">Green</a>
                <a class="list-group-item left-navlink" href="#">Blue</a>
                <a class="list-group-item left-navlink" href="#">Purple</a>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link left-navlink-main" href="#">Morphology</a>
              <ul class="list-group left-subnav">
                <a class="list-group-item left-navlink" href="#">Circle</a>
                <a class="list-group-item left-navlink" href="#">Square</a>
                <a class="list-group-item left-navlink" href="#">Rectangle</a>
                <a class="list-group-item left-navlink" href="#">Thread</a>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link left-navlink-main disabled" href="#">Others</a>
            </li>
        </div>
    <div class="container float-left" id="anna-content">
        <div class="filler" id="ir-filler"></div>
    <div class="IRBased container" id="IRBased">
                <h2 class="text-primary text-center">Infrared Color Mapping System
                </h2>
          <form id="irform" action="/runbackend">
            <div class="irinput d-flex">
              <div class="input-group mb-3 pr-2">
                <select class="custom-select" id="visible" form="irform" name="selectvisible">
                    {% for img in imgs_visible %}
                    <option value="{{ img }}">{{ img }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <label for="visible" class="input-group-text ir-label btn">visible</label>
                </div>
              </div>
              <div class="input-group mb-3 pr-2">
                <select class="custom-select" id="850nm" form="irform" name="select850">
                    {% for img in imgs_850 %}
                    <option value="{{ img }}">{{ img }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <label for="850nm" class="input-group-text ir-label btn">850nm</label>
                </div>
              </div>
              <div class="input-group mb-3 pr-2">
                <select class="custom-select" id="950nm" form="irform" name="select950">
                    {% for img in imgs_950 %}
                    <option value="{{ img }}">{{ img }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <label for="950nm" class="input-group-text ir-label btn">950nm</label>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="submit" id="ir-colormapping" name="ir-colormapping" value="Mapping" class="btn fixed-btn btn-info ir-colormapping">
              </div>
        </div>
      </form>
      <div id="IR-Result">
          <img class="ir-image" id="id-image" src="static/img/compare-850-950.png" hidden>
      </div>
    </div>

    <div class="filler" id="color-filler"></div>
    <div class="ColorBased container" id="ColorBased">
        <form class="d-inline" action='/runbackend'>
            <div class="form-group text-primary">
                <h2 class="text-center">Color Detection</h2>
            </div>
            <div class="colorinput d-flex">
            <div class="input-group">
                <input type="submit" id="color-orange" name="color" value="orange" class="btn fixed-btn run-backend" style="background-color: orange">
            </div>
            <div class="input-group">
                <input type="submit" id="color-green" name="color" value="green" class="btn fixed-btn btn-success run-backend">
            </div>
            <div class="input-group">
                <input type="submit" id="color-blue" name="color" value="blue" class="btn fixed-btn btn-primary run-backend">
            </div>
            <div class="input-group">
                <input type="submit" id="color-purple" name="color" value="purple" class="btn fixed-btn run-backend" style="background-color: purple">
            </div>
            </div>
        </form>
    </div>

    <div class="filler" id="morphology-filler"></div>
    <div class="Morphology container" id="MorphologyBased">
        <form  action='/runbackend'>
            <div class="form-group">
              <h2 class="text-primary text-center">Morphology Detection</h2>
            </div>
            <div class="morphologyinput d-flex">
            <div class="input-group">
                <input type="submit" id="shape-circle" name="shape" value="circle" class="btn fixed-btn btn-info run-backend">
            </div>
            <div class="input-group">
                <input type="submit" id="shape-rectangle" name="shape" value="rectangle" class="btn fixed-btn btn-info run-backend">
            </div>
            <div class="input-group">
                <input type="submit" id="shape-triangle" name="shape" value="triangle" class="btn fixed-btn btn-info run-backend">
            </div>
            <div class="input-group">
                <input type="submit" id="shape-string" name="shape" value="string" class="btn fixed-btn btn-info run-backend">
            </div>
          </div>
        </form>
    </div>

    <div class="filler" id="others-filler"></div>
    <div class="Fluorescent container" id="OthersBased">
      <div class="d-flex">
        <div class="input-group">
          <h2 class="text-primary">Fluorescent</h2>
        </div>
        <div class="input-group">
          <a href="load?imgfile=IMG_1768.jpg" class="btn fixed-btn btn-info fluorescent-btn">Load</a>
        </div>
        <div class="input-group">
        </div>
        <div class="input-group">
        </div>
      </div>
      <div class="d-flex">
        <div class="input-group">
          <h2 class="text-primary">UV</h2>
        </div>
        <div class="input-group">
          <a href="load?imgfile=UV20181006.png" class="btn fixed-btn btn-info uv-btn">Load</a>
        </div>
        <div class="input-group">
        </div>
        <div class="input-group">
        </div>
      </div>
    </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="static/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="static/js/annadu.js" crossorigin="anonymous"></script>

  </body>
</html>